# Python Practice

## Numpy

In [16]:
import numpy as np

a = np.linspace(1, 30, 6, dtype=int).reshape(2, 3)
print(a)

[[ 1  6 12]
 [18 24 30]]

## CSV manipulation

In [16]:
import csv

with open("./Pandas/fake-company.csv", "r") as csvfile:
    file = csv.reader(csvfile, delimiter=",")
    for content in file:
        print(content)

['Year', 'Name', 'Department', 'Age', 'Salary']
['1990', 'Alice', 'HR', '25', '50000']
['1990', 'Bob', 'RD', '30', '48000']
['1990', 'Charlie', 'Admin', '45', '55000']
['1991', 'Dakota', 'HR', '26', '52000']
['1991', 'Elsa', 'RD', '31', '50000']
['1991', 'Frank', 'Admin', '46', '60000']
['1992', 'Grace', 'Admin', '27', '60000']
['1992', 'Hoffman', 'RD', '32', '52000']
['1992', 'Inaar', 'Admin', '28', '62000']

## Lambda

In [5]:
x = (lambda y, z: y + z)(2, 4)
print(x)

y = (lambda y, z: y * z if y > 2 else y - z)(4, 2)
print(y)

6
8

## Misc

In [2]:
print(list(range(2, 5)))

[2, 3, 4]

In [14]:
for item in [[1, 2, 3], [4, 5, 6]]:
    print(item[0])

def foo(a = 1, b = 2):
    return a + b
price = foo(b = 4)
print(price)

1
4
5